# C++ build files
*.o
*.exe

# output from testing the tutorial
# a copy of the output is version controlled under tutorial/example
tutorial/scratch
tutorial/DUPLICATES
tutorial/GSMDATA*

# pixi environments
.pixi
*.egg-info
